server:
  port: 8082
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: payout-service
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  jackson:
    serialization:
      fail-on-empty-beans: false
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
  batch:
    job:
      enabled: false
  kafka:
    bootstrap-servers: localhost:9092
logging:
  level:
    com.back: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
custom:
  system:
    apiKey: ${SYSTEM_API_KEY}
  services:
    member-url: http://localhost:8080
    post-url: http://localhost:8081
    payout-url: http://localhost:8082
    cash-url: http://localhost:8083
    market-url: http://localhost:8084
  global:
    holdingMemberId: 2
  jwt:
    secretKey: ${JWT_SECRET_KEY}
  accessToken:
    expirationSeconds: "#{60*60}"
  payout:
    readyWaitingDays: 14
